@model IEnumerable<RowerOwO.ViewModels.VehicleListViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista rowerów</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img style="width:280px" src="@item.ImgPath" />
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p style="color:#FFACAC; font-size:1.4rem;opacity:0.6">@item.Type</p><br>
                @Html.DisplayFor(modelItem => item.Description)<br><br>
                Status: @Html.DisplayFor(modelItem => item.IsAvailable)<br>
                @*@Html.ActionLink("Details", "Details", new { id=item.Id })*@
                @*@<a href="@Url.Action("Details", new { id=item.Id })" class="button-round">Szczegóły</a>*@
                <a asp-action="Details" asp-route-id="@item.Id" class="button-round-inverted"><i class="bi bi-zoom-in"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button-round-inverted"><i class="bi bi-pencil"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="button-round-inverted"><i class="bi bi-trash"></i></a>
                @if(item.IsAvailable == true)
                {
                    <a asp-action="Rent" asp-route-id="@item.Id" class="button-round-inverted">Wypożycz teraz!</a>
                } else
                {
                    <a class="button-round-inverted button-disabled" disabled>Wypożycz teraz!</a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
}
    </tbody>
</table>
