@model IEnumerable<RowerOwO.Areas.Admin.ViewModels.UserListViewModel>

<div class="container-fluid">
    <h1>Lista Użytkowników</h1>

    @foreach (var item in Model) {
        <div style="background:white; border-radius:7px; margin:15px; padding:10px;">
            <h4>@Html.DisplayFor(modelItem => item.Id)</h4>
            Login: @Html.DisplayFor(modelItem => item.Name)<br><br>
            E-mail: @Html.DisplayFor(modelItem => item.Email)<br>
            <form action="/Admin/RoleChange/@item.Id" method="post">
                    Role:<br />
                    <select class="form-select" name="roles" multiple>
                        @foreach (var role in item.AvailableRoles)
                        {
                            if (item.Roles.Contains(role))
                            {
                                <option selected value="@role">@role</option>

                                <br />
                            }
                            else
                            {
                                @role
                                <option value="@role">@role</option>

                                <br />
                            }
                        }
                    </select>
                    <br> 
                    <input type="submit" class="button-round-inverted" value="Ustaw role">
            </form>
                <a href="/Admin/DeleteUser/@item.Id" class="button-round-inverted"><i class="bi bi-trash"></i></a>
        </div>
    }
</div>