@model IEnumerable<RowerOwO.Areas.Admin.ViewModels.RentalListViewModel>

@{
    ViewData["Title"] = "Rentals";
}

<style>
    .nomargin{
        margin:0;
    }
</style>

<h1>Aktywne wypożyczenia</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="table-layout: fixed; width: 100%;">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Pojazd
            </th>
            <th>
                Od
            </th>
            <th>
                Do
            </th>
            <th>
                Wypożyczalnia
            </th>
            <th>
                Opcje
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Vehicle.Name
            </td>
            <td>
                @item.RentFrom
            </td>
            <td>
                @item.RentTill
            </td>
            <td>
                @item.RentalPoint.Name
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="button-round-inverted nomargin"><i class="bi bi-zoom-in"></i></a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="button-round-inverted nomargin"><i class="bi bi-pencil"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="button-round-inverted nomargin"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
